body
{
    margin: 0;
    padding: 0 ;
    font-family: 'Matter';
}

#par
{
    width: 100%;
}

#home
{
    width: 100%;
    min-height: 100vh;
    
}
.nav
{   
    display: flex;
    width: 92%;
    padding: 20px 40px;
    
    justify-content: space-between;
    align-items: center;
    position: sticky;
  top: 0px;
  z-index: 10;
  background-color: #ffffff;
}

img
{
    width: 100px;
    cursor: pointer;
}
.right
{
    display: flex;
    gap :20px;
    position: relative;
    right: -10vh;
}
.right i
{
    position: relative;
    top: 4px;
    cursor: pointer;
}
.nav a{
    text-decoration: none;
    color: black;
    text-align: end;
    font-weight: 350;
    font-size: 1.3vw;
    letter-spacing: 0.7;
}
.middle
{
    padding: 100px 110px;
    /* background-color: #432525; */
    
    
}
.middle h5{
    
    font-size: 1.3rem;
    position: relative;
    bottom: -50px;
    
}
#home .head     

{   
    
    line-height: -200px;
    display: flex;
    position: relative;
    top: -40px;
    letter-spacing: -px;
    
    gap:27px;
    font-family: 'Matter';
    
    font-size: 3em;
   
    /* -webkit-text-stroke: .0000000000003px rgb(0, 0, 0); */
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-size-adjust: 20%;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    
}


#home .head span
{   font-weight: 500;
    font-size:1.8em;
    position: relative;
    top: 50px;
    letter-spacing: -1px;
    word-spacing: 10px;
    word-spacing: 200;
   
}
.head span:hover
{
    color: #000;
}

.middlelast
{
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 0.1em;
    padding: 12vh 110px;
    max-width: 30%;
}

*::selection
{
    color: #fff;
    background-color: #000;
    text-shadow: #000 ;

}
#fitems
{
    padding: 13vh 110px;
    display: flex;
    flex-direction:column;
    
}

#fitems span{
    line-height: 1;
    font-size: 2.7em;
    font-weight: 400;
}

span:nth-child(2)
{   color: transparent;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}


#fimages 
{
    width: 80%;
    height: 90vh;
    padding: 13vh 0;
    margin: 3vh 14vh;
    margin-right: 10vh;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: space-between;
}

.fleft
{
    width: 35%;
    height: inherit;
    
    overflow: hidden;
     /* display: flex;
    flex-direction: column;
    justify-content: center; */


}
.fright
{
    width: 35%;
    height: inherit;
    /* border: 1px solid #4dcc64; */
    justify-content: flex-end;
    padding: 50px;
    margin-left: 50px;
    /* align-items: center; */
}
.ima
{
    width: 25vw;
    height: 85vh;
    background-image: url("https://images.unsplash.com/photo-1692343814412-cbe23ff32765?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=767&q=80");
    background-size: contain;
    
    border: 1px solid #502626;
    
    /* display: flex-end; */
}
.leftitem
{
    
    padding: 29vh 0;
}
.leftitem h4
{
    font-size: 1.2em;
    font-weight: 600;
    
    
}
.leftitem h1
{
    font-size: 2.4em;
    font-weight: 550;
    line-height: 1;
    margin: 19px 0;
}

.leftitem p{
    opacity: .7;
}

.but{
    align-items: center;
    
    margin: 60px;
    display: flex;
    flex-direction: column;
}

button
{
    font-size: 1em;
    font-family: "Matter";
    padding: 2vh 2vh;
    background-color: rgb(255, 245, 207);
    /* border-radius: 100%; */
    /* border: 1px  #737373; */
    
}

button:hover
{
    color: rgb(255, 245, 207);
    background-color: #000;
    
}

.bbut
{
    padding: 10vh 110px;
    
}

.cards
{
    padding: 0 80px 0 80px;
    display:flex;
    justify-content: space-between;
    
} 

.card p
{
    padding:10px 0 0 40px;
    font-weight: 500;
    
}
.card h4
{
    font-size: 1.1em;
    max-width: 100%;
    padding-bottom: 100px;
}
.card .imgg
{   background-image: url('https://cdn.cuberto.com/cb/upload/480b30071a8533b278c30dd7d9133f09.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 55vh;
    height: 45vh;
    position: relative;
    bottom: -90px;
    /* background-color: #974444; */
}

.footer
{
    background-color: #000;
    width: 100%;
    min-height: 15vh;
    text-align: center;
}
.footer p
{
    color: #fff;
    padding: 3vh;
}
